{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "chrome": "63",
                    "ie": "15",

                }
            }
        ]
    ]
}