{
  "semi": false,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.test.js",
      "options": {
        "semi": true
      }
    },
    {
      "files": ["./src/**/*.html", "./src/**/*.js"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}