//####################################################################################################################
//####################################################################################################################
//########################################### FONT SYSTEM CONFIG START ###############################################
//####################################################################################################################
//####################################################################################################################


//* ---- Font list ( Expllation variable  1 : NAME / 2 : LOCAL NAME / 3 : FONT STYLE / 4 : FONT WEIGHT ) ---- */
$bootscript-font-list: !default;


.fs-10 {
    font-size: 10px;
}

.fs-20 {
    font-size: 20px;
}


//####################################################################################################################
//####################################################################################################################
//########################################### FONT SYSTEM CONFIG STOP ################################################
//####################################################################################################################
//####################################################################################################################

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//####################################################################################################################
//####################################################################################################################
//############################################ CORE SYSTEM FONT START ################################################
//####################################################################################################################
//####################################################################################################################


//* ---- core font ---- */
@import 'core/core';


//####################################################################################################################
//####################################################################################################################
//############################################ CORE SYSTEM FONT STOP #################################################
//####################################################################################################################
//####################################################################################################################