//####################################################################################################################
//####################################################################################################################
//############################################## SECTION ALL START ###################################################
//####################################################################################################################
//####################################################################################################################

//* ---- section slider  ---- */
.section-slider {
  ul {
    width: 100%;
    display: flex;

    li {
      width: 100%;
      display: flex;
      min-height: 63.3rem;
      background-size: cover;
      flex-direction: column;
      justify-content: flex-end;
      background-repeat: repeat;
      background-position: center center;
      background-image: url(../../assets/img/bgSlider.png);

      .content {
        width: 100%;
        padding: 3rem 0;
        position: relative;

        &::before {
          top: 0;
          left: 0;
          z-index: 0;
          content: '';
          width: 100%;
          height: 100%;
          opacity: 0.6;
          position: absolute;
          background-color: black;
        }
      }

      .box {
        z-index: 1;
        padding-left: 3rem;
        border-left: 4px solid #a0d700;
      }

      h1 {
        max-width: 87.6rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
      }
    }
  }
}

//####################################################################################################################
//####################################################################################################################
//############################################### SECTION ALL STOP ###################################################
//####################################################################################################################
//####################################################################################################################

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//####################################################################################################################
//####################################################################################################################
//############################################ CORE SYSTEM SECTION START #############################################
//####################################################################################################################
//####################################################################################################################

//* ---- core section ---- */
@import 'core/core';

//####################################################################################################################
//####################################################################################################################
//############################################ CORE SYSTEM SECTION STOP ##############################################
//####################################################################################################################
//####################################################################################################################
