//####################################################################################################################
//####################################################################################################################
//############################################## SECTION ALL START ###################################################
//####################################################################################################################
//####################################################################################################################

//* ---- section slider  ---- */
.section-slider {
  ul {
    width: 100%;
    display: flex;

    li {
      width: 100%;
      display: flex;
      min-height: 63.3rem;
      background-size: cover;
      flex-direction: column;
      justify-content: flex-end;
      background-repeat: repeat;
      background-position: center center;
      background-image: url(../../assets/img/bgSlider.png);

      .content {
        width: 100%;
        padding: 3rem 0;
        position: relative;

        @media (min-width: 991px) {
          padding: 3rem 17.6rem;
        }

        @media (min-width: 640px) {
          padding: 3rem 10.5rem;
          .col-12 {
            padding: 0;
          }
        }

        &::before {
          top: 0;
          left: 0;
          z-index: 0;
          content: '';
          width: 100%;
          height: 100%;
          opacity: 0.6;
          position: absolute;
          background-color: black;
        }
      }

      .box {
        z-index: 1;
        padding-left: 3rem;
        border-left: 4px solid #a0d700;
      }

      h1 {
        max-width: 87.6rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
      }
    }
  }
}

.section-big_title {
  padding: 10rem 1.5rem;

  header {
    flex: 100%;
    max-width: 100%;
    padding: 0.5rem 0;
    margin-bottom: 3rem;
    border-bottom: 1px solid #000000;
    h1 {
      line-height: 1;
      font-size: 3.5rem;
    }
  }

  footer {
    flex: 100%;
    max-width: 100%;
    text-align: center;
  }
  @media (min-width: 991px) {
    padding: 10rem 17.6rem;

    .article-header:nth-child(2) {
      margin-bottom: 0 !important;
    }
  }

  @media (min-width: 640px) {
    padding: 10rem 10.5rem;
  }
}

.section-gmae {
  padding: 10rem 1.5rem;
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  background-image: url(../../assets/img/bgGame.png);

  ul {
    width: 100%;
    display: flex;

    li {
      flex: 100%;
      max-width: 100%;
      position: relative;
    }
  }

  .img {
    flex: 100%;
    max-width: 100%;
    display: block;
    position: relative;

    @media (min-width: 991px) {
      flex: 75%;
      max-width: 75%;
    }
  }

  .box {
    flex: 100%;
    max-width: 100%;
    padding: 2rem;

    position: relative;
    background-color: black;

    @media (min-width: 991px) {
      flex: 25%;
      max-width: 25%;
    }
  }
  h1 {
    flex: 100%;
    color: white;
    max-width: 100%;
    font-size: 2.8rem;
    text-align: center;
    line-height: 3.36rem;
    padding-bottom: 1.1rem;

    @media (min-width: 991px) {
      text-align: left;
    }
  }

  p {
    flex: 100%;
    color: white;
    max-width: 100%;
    font-size: 1.4rem;
    text-align: center;
    line-height: 2.1rem;

    @media (min-width: 991px) {
      text-align: left;
    }
  }
  a {
    display: table;
    margin: 2rem auto 0 auto;

    @media (min-width: 991px) {
      width: 100%;
      min-width: 100%;
      margin: 100% auto 0 auto;
    }
  }

  @media (min-width: 640px) {
    padding: 5rem 10.5rem;
  }

  @media (min-width: 991px) {
    padding: 5rem 17.6rem;
  }
}

.section-social {
  padding: 5rem 1.5rem;
  background-color: #a0d700;

  ul {
    margin: 0 auto;
    display: flex;
    li {
      display: flex;
      padding: 0 1.5rem;
      align-items: center;

      a {
      }
    }
  }

  @media (min-width: 640px) {
    padding: 5rem 10.5rem;
  }

  @media (min-width: 991px) {
    padding: 5rem 17.6rem;
  }
}

.section-hero_img {
  width: 100%;
  display: flex;
  padding: 10rem;
  align-items: center;
  min-height: 19.2rem;
  padding: 5rem 1.5rem;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-repeat: repeat;
  background-position: center center;
  background-image: url(../../assets/img/fulltem.png);

  img {
    display: block;
    max-width: 100%;
    max-height: 10rem;
    position: relative;
  }

  @media (min-width: 640px) {
    padding: 5rem 10.5rem;
  }

  @media (min-width: 991px) {
    min-height: 31.5rem;
    padding: 5rem 17.6rem;
    img {
      max-height: 16rem;
    }
  }

  @media (min-width: 1258px) {
    min-height: 48.3rem;
    img {
      max-height: 25rem;
    }
  }
}

.article-news_about {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;

  .img {
    flex: 100%;
    max-width: 100%;
    position: relative;
    padding-bottom: 1.5rem;

    img {
      display: block;
      width: 100%;
    }

    @media (min-width: 991px) {
      flex: 36rem;
      max-width: 36rem;
      padding-bottom: 0;
      padding-right: 1.5rem;
    }

    @media (min-width: 1258px) {
      flex: 49rem;
      max-width: 49rem;
    }
  }

  .content {
    flex: 100%;
    max-width: 100%;
    color: #060707;
    text-align: left;
    font-size: 1.6rem;
    line-height: 2.4rem;

    @media (min-width: 991px) {
      padding-left: 1.5rem;
      flex: clac(100% -36rem);
      max-width: calc(100% - 36rem);
    }

    @media (min-width: 1258px) {
      flex: calc(100% -49rem);
      max-width: calc(100% - 49rem);
    }
  }
}

.section-full_article {
  padding: 10rem 1.5rem;

  .data {
    color: black;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding-bottom: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-bottom: 2rem;
  }

  h1 {
    line-height: 1;
    font-size: 4rem;
  }

  h2 {
    line-height: 1;
    font-size: 3.5rem;
  }

  h3 {
    line-height: 1;
    font-size: 3rem;
  }

  h4 {
    line-height: 1;
    font-size: 2.5rem;
  }

  h5 {
    line-height: 1;
    font-size: 2rem;
  }

  h6 {
    line-height: 1;
    font-size: 1.6rem;
  }

  strong {
    color: black;
    display: block;
    text-align: left;
    font-size: 1.8rem;
    line-height: 2.7rem;
    padding-bottom: 5rem;
  }

  p {
    color: black;
    display: block;
    text-align: left;
    font-size: 1.6rem;
    line-height: 2.8rem;
    padding-bottom: 3rem;
  }

  img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    padding: 0rem;
    padding-bottom: 3rem;
  }

  @media (min-width: 640px) {
    padding: 5rem 10.5rem;
    img {
      padding: 0 5rem;
    }
  }

  @media (min-width: 991px) {
    padding: 10rem 17.6rem;
  }
}

//####################################################################################################################
//####################################################################################################################
//############################################### SECTION ALL STOP ###################################################
//####################################################################################################################
//####################################################################################################################

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//####################################################################################################################
//####################################################################################################################
//############################################ CORE SYSTEM SECTION START #############################################
//####################################################################################################################
//####################################################################################################################

//* ---- core section ---- */
@import 'core/core';

//####################################################################################################################
//####################################################################################################################
//############################################ CORE SYSTEM SECTION STOP ##############################################
//####################################################################################################################
//####################################################################################################################
