//####################################################################################################################
//####################################################################################################################
//############################################ SYSTEM BOX START ######################################################
//####################################################################################################################
//####################################################################################################################

.article-header {
  width: 100%;
  display: flex;
  overflow: hidden;
  margin-bottom: 3rem;
  position: relative;
  min-height: calc(50% - 3rem);

  a {
    flex: 100%;
    max-width: 100%;
    position: relative;
    &:hover {
      opacity: 1;
      h2 {
        opacity: 0.6 !important;
      }
    }
  }

  .img {
    flex: 100%;
    max-width: 100%;
    position: relative;
    min-height: 31.3rem;
    background-repeat: repeat;
    background-image: url(../../assets/img/bgSlider.png);
    background-position: center center;

    @media (min-width: 640px) {
      min-height: 11.3rem;
    }
    @media (min-width: 1258px) {
      min-height: 15.7rem;
    }
  }

  .content {
    flex: 100%;
    padding: 2rem;
    max-width: 100%;
    min-height: 100%;
    position: relative;
    background-color: #ececec;

    h2 {
      font-size: 1.8rem;
      transform: all 0.3s;
    }

    p {
      line-height: 1.4;
      font-size: 1.4rem;
    }

    @media (min-width: 991px) {
      h2 {
        font-size: 1.4rem;
      }
    }
    @media (min-width: 1258px) {
      h2 {
        font-size: 1.8rem;
      }
    }
  }

  .big {
    @media (min-width: 640px) {
      .img {
        min-height: 37.7rem;
      }

      h2 {
        font-size: 2.2rem;
      }
    }
    @media (min-width: 1258px) {
      .img {
        min-height: 50rem;
      }

      h2 {
        font-size: 3rem;
      }
    }
  }
}

.article-investor_relations {
  flex: 100%;
  max-width: 100%;
  position: relative;
  padding: 0 1.5rem 3rem 1.5rem;

  @media (min-width: 640px) {
    flex: 33.333%;
    max-width: 33.333%;

    &:nth-child(3n + 1) {
      padding-left: 0;
    }

    &:nth-child(3n + 3) {
      padding-left: 1.5rem;
      padding-right: 0;
    }

    &:nth-child(3n + 4) {
      display: none;
    }
  }
  @media (min-width: 1258px) {
    flex: 25%;
    max-width: 25%;

    &:nth-child(3n + 1) {
      padding-left: 0;
    }

    &:nth-child(3n + 3) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    &:nth-child(3n + 4) {
      display: block;
      padding-right: 0rem;
      padding-left: 1.5rem;
    }
  }

  a {
    padding: 1rem;
    display: block;
    max-width: 100%;
    min-height: 100%;
    position: relative;
    background-color: #ececec;

    &:hover {
      opacity: 1;
      h2 {
        opacity: 0.6;
      }
    }

    p {
      line-height: 1.4;
      font-size: 1.4rem;
    }
    h2 {
      font-size: 1.8rem;
      transform: all 0.3s;
    }
  }
}

//####################################################################################################################
//####################################################################################################################
//############################################ SYSTEM BOX STOP #######################################################
//####################################################################################################################
//####################################################################################################################
