//####################################################################################################################
//####################################################################################################################
//############################################ CORE SYSTEM TEXT START ################################################
//####################################################################################################################
//####################################################################################################################

.text-bold {
    font-weight: bold;
}

.text-regular {
    font-weight: normal;
}

.text-lighter {
    font-weight: lighter;
}


.font-max {
    font-size: 30px;
}

//* ---- core text ---- */
@import 'core/core';


//####################################################################################################################
//####################################################################################################################
//############################################ CORE SYSTEM TEXT STOP #################################################
//####################################################################################################################
//####################################################################################################################