//####################################################################################################################
//####################################################################################################################
//############################################ ROOT SYSTEM SETTING START #############################################
//####################################################################################################################
//####################################################################################################################

:root {

    @each $breakpoint-color in $bootscript-color-list {
        $name: nth($breakpoint-color, 1);
        $color-hex: nth($breakpoint-color, 2);
        $color-rgb: nth($breakpoint-color, 3);

        --#{$name}: #{$color-hex};
    }

    @each $breakpoint in $bootscript-breakpoints {
        $name: nth($breakpoint, 1);
        $size: nth($breakpoint, 2);
        $container: nth($breakpoint, 3);

        --breakpoint-#{$name}: #{$size};
    }
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    color: $bootscript-main-selection-text-color;
    background: $bootscript-main-selection-background-color;
}





@each $breakpoint in $bootscript-breakpoint-font-size {
    $size: nth($breakpoint, 1);
    $breakpoint-size: nth($breakpoint, 2);

    @if $breakpoint-size==0 {
        html {
            font-family: $bootscript-font-family-main,
                'sans-serif';
            font-weight: $bootscript-font-weight-main;
            font-size: $size;
            line-height: $size;
        }
    }

    @else {}

    @media (min-width: $breakpoint-size) {
        @if $breakpoint-size==0 {}

        @else {

            html {
                font-family: $bootscript-font-family-main,
                    'sans-serif';
                font-weight: $bootscript-font-weight-main;
                font-size: $size;
                line-height: $size;
            }

        }
    }
}



body {
    margin: 0;
    padding: 0;
    letter-spacing: 0.25px;
    font-family: $bootscript-font-family-main, 'sans-serif';
    font-size: $bootscript-font-size-main;
    font-weight: $bootscript-font-weight-main;
    line-height: $bootscript-line-height-main;
    color: $bootscript-font-color-main;
    text-align: left;
    background-color: #fff;

    a {
        color: $bootscript-font-color-main;
    }

    p {
        padding: 5px 0;
        line-height: 1.4;
    }
}


@each $heading in $bootscript-setting-heading {
    $name: nth($heading, 1);
    $font-size: nth($heading, 2);
    $line-height: nth($heading, 3);
    $letter-spacing: nth($heading, 4);
    $font-weight: nth($heading, 5);
    $font-family: nth($heading, 6);

    #{$name} {
        font-size: $font-size;
        line-height: $line-height;
        font-weight: $font-weight;
        font-family: $font-family;
        letter-spacing: $letter-spacing;
    }
}



//####################################################################################################################
//####################################################################################################################
//############################################ ROOT SYSTEM SETTING STOP #############################################
//####################################################################################################################
//####################################################################################################################