//####################################################################################################################
//####################################################################################################################
//############################################## BULDING FONT START  #################################################
//####################################################################################################################
//####################################################################################################################


@each $bootscript-font in $bootscript-font-list {
  $name: nth($bootscript-font, 1);
  $name-local: nth($bootscript-font, 2);
  $font-style: nth($bootscript-font, 3);
  $font-weight: nth($bootscript-font, 4);

  @font-face {
    font-family: #{$name};
    font-style: #{$font-style};
    font-weight: #{$font-weight};
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    src: local('./font/#{$name}/#{$name-local}'),
    url('./../../../font/#{$name}/#{$name-local}.woff') format('woff');
  }
}


//####################################################################################################################
//####################################################################################################################
//############################################## BULDING FONT STOP  ##################################################
//####################################################################################################################
//####################################################################################################################