//####################################################################################################################
//####################################################################################################################
//########################################### FONT SYSTEM CONFIG START ###############################################
//####################################################################################################################
//####################################################################################################################

//* ---- Main setting font ---- */

$bootscript-font-size-main: 1.2rem; // font dize default
$bootscript-line-height-main: 1.2; // line height default
$bootscript-font-weight-main: normal; // font size default
$bootscript-font-color-main: #000000; // font color default
$bootscript-font-family-main: 'Roboto', sans-serif; // font family default

//* ---- Main setting heading  ( explatttion variable  1 : NAME / 2 : SIZE  )  ---- */

$bootscript-setting-heading: h1 3rem, h2 2.5rem, h3 2rem, h4 1.5rem, h5 1rem, h6 0.5rem !default;

//* ---- FONT OFF/ON ( TRUE = ON / FALSE = OFF ) ---- */

$bootscript-font-on-off: false !default;

//####################################################################################################################
//####################################################################################################################
//########################################### FONT SYSTEM CONFIG STOP ################################################
//####################################################################################################################
//####################################################################################################################

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//####################################################################################################################
//####################################################################################################################
//########################################### COLOR SYSTEM CONFIG START ##############################################
//####################################################################################################################
//####################################################################################################################

//* ---- Color list ( explation variable  1 : NAME / 2 : HEX COLOR / 3 : RGB COLOR ) ---- */
$bootscript-color-list: black #000000 rgb(0, 0, 0), white #ffffff rgb(255, 255, 255),
  green #a0d700 rgb(160, 215, 0), gray #ececec rgb(236, 236, 236) !default;

//* ---- Setting color selection ---- */
$bootscript-main-selection-text-color: #000000 !default;
$bootscript-main-selection-background-color: #000000 !default;

//* ---- Main color text & background ---- */
$bootscript-main-text-color: #000000 !default;
$bootscript-main-background-color: #ffffff !default;

//* ---- SETTING COLOR BG/TEXT/BUTTON ( TRUE = ON / FALSE = OFF ) ---- */

$bootscript-background-color-on-off: true !default;
$bootscript-text-color-on-off: true !default;
$bootscript-button-color-normal-on-off: true !default;
$bootscript-button-color-normal-out-line-on-off: true !default;
$bootscript-button-color-radius-on-off: true !default;
$bootscript-button-color-radius-out-line-on-off: true !default;

//####################################################################################################################
//####################################################################################################################
//########################################### COLOR SYSTEM CONFIG STOP ###############################################
//####################################################################################################################
//####################################################################################################################

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//####################################################################################################################
//####################################################################################################################
//########################################## BUTTON SYSTEM CONFIG START ##############################################
//####################################################################################################################
//####################################################################################################################

//* ---- Button setting ---- */
$bootscript-button-min-width: 27rem;
$bootscript-button-main-font-weight: bold;
$bootscript-button-main-font-size: 1.2rem;
$bootscript-button-main-padding: 15px 20px;
$bootscript-button-main-border-radius: 4px;
$bootscript-button-main-text-transform: none;
$bootscript-button-main-transition-box-shadow: 0.15s ease-in-out;
$bootscript-button-main-transition-color: color 0.15s ease-in-out;
$bootscript-button-main-transition-border-color: 0.15s ease-in-out;
$bootscript-button-main-transition-background-color: 0.15s ease-in-out;

//* ---- Button type on or off ---- */
$bootscript-button-on-off: true !default;

//####################################################################################################################
//####################################################################################################################
//########################################## BUTTON SYSTEM CONFIG STOP ###############################################
//####################################################################################################################
//####################################################################################################################

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//####################################################################################################################
//####################################################################################################################
//############################################ CORE SYSTEM ROOT START ################################################
//####################################################################################################################
//####################################################################################################################

//* ---- core root ---- */
@import 'core/core';

//####################################################################################################################
//####################################################################################################################
//############################################ CORE SYSTEM ROOT STOP #################################################
//####################################################################################################################
//####################################################################################################################
