//####################################################################################################################
//####################################################################################################################
//############################################ ICON SYSTEM SETTING START #############################################
//####################################################################################################################
//####################################################################################################################


.icon {
    background: #000000;
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    width: 30px;
    height: 30px;
    display: block;
    z-index: 50;
}

@each $icon in $bootscript-icon-list {
    $name: nth($icon, 1);

    .icon-#{$name} {
        mask-image: url('./../../../media/icon/#{$name}.svg');
    }
}




//####################################################################################################################
//####################################################################################################################
//############################################ ICON SYSTEM SETTING START #############################################
//####################################################################################################################
//####################################################################################################################
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//####################################################################################################################
//####################################################################################################################
//############################################ ICON SYSTEM AWESOME START #############################################
//####################################################################################################################
//####################################################################################################################




//####################################################################################################################
//####################################################################################################################
//############################################ ICON SYSTEM AWESOME STOP ##############################################
//####################################################################################################################
//####################################################################################################################