//####################################################################################################################
//####################################################################################################################
//########################################### ICON SYSTEM CONFIG START ###############################################
//####################################################################################################################
//####################################################################################################################


//* ---- ICON LIST ---- */
$bootscript-icon-list: search,
plusSquare,
minusSquare,
contrast,
wheelchair,
arrow,
starHalf,
star,
facebook,
instagram,
youtube,
angleDown,
twitter,
mesage,
phone,
images,
check !default;

//* ---- icon on or off ---- */
$bootscript-icon-on-off : true !default;


//* ---- logo ---- */
.logo {
    display: flex;
    flex-wrap: wrap;
    width: 130px;
    align-items: center;
    justify-content: center;

    strong {
        flex: 100%;
        font-size: 30px;
        font-weight: Boldest;
        letter-spacing: 4px;
        line-height: 1;
    }

    span {
        flex: 100%;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 0.5px;
        line-height: 1;
    }
}

//####################################################################################################################
//####################################################################################################################
//########################################### ICON SYSTEM CONFIG STOP ################################################
//####################################################################################################################
//####################################################################################################################

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//####################################################################################################################
//####################################################################################################################
//############################################ CORE SYSTEM ICON START ################################################
//####################################################################################################################
//####################################################################################################################


//* ---- core icon ---- */
@import 'core/core';


//####################################################################################################################
//####################################################################################################################
//############################################ CORE SYSTEM ICON STOP #################################################
//####################################################################################################################
//####################################################################################################################