//####################################################################################################################
//####################################################################################################################
//############################################# BUTTON SETTING START #################################################
//####################################################################################################################
//####################################################################################################################

.btn-black {
  color: #ffffff !important;

  &:hover {
    color: #000000 !important;
    background-color: #a0d700 !important;
  }
}

//####################################################################################################################
//####################################################################################################################
//############################################### BUTTON SETTING STOP ################################################
//####################################################################################################################
//####################################################################################################################

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//####################################################################################################################
//####################################################################################################################
//############################################ CORE SYSTEM BUTTON START ##############################################
//####################################################################################################################
//####################################################################################################################

//* ---- core button ---- */
@import 'core/core';

//####################################################################################################################
//####################################################################################################################
//############################################ CORE SYSTEM BUTTON STOP ###############################################
//####################################################################################################################
//####################################################################################################################
