// START BULDING BUTTON NORMAL

%bootscript-button-settings-global {
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  min-width: $bootscript-button-min-width;
  padding: $bootscript-button-main-padding;
  font-size: $bootscript-button-main-font-size;
  line-height: $bootscript-button-main-font-size;
  font-weight: $bootscript-button-main-font-weight;
  border-radius: $bootscript-button-main-border-radius;
  text-transform: $bootscript-button-main-text-transform;
  transition: $bootscript-button-main-transition-color,
    background-color $bootscript-button-main-transition-background-color,
    border-color $bootscript-button-main-transition-border-color,
    box-shadow $bootscript-button-main-transition-box-shadow;

  &:focus {
    outline: none;
  }
}

@if $bootscript-button-on-off {
  .btn {
    @extend %bootscript-button-settings-global;
  }
}
