//####################################################################################################################
//####################################################################################################################
//############################################## NAV SETTING START ###################################################
//####################################################################################################################
//####################################################################################################################


//* ---- Main Setting start ---- */
.navbar-anhol {
    position: fixed;
    z-index: 999;
}

.navbar-brand {
    margin: 10px 15px;
    width: 130px;
    flex: 130px;
    opacity: 1;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.15s;

    &:hover {
        opacity: 0.5;
        transition: all 0.15s;
    }
}


.navbar-anhol-search {
    flex: calc(100% - 235px);
    max-width: calc(100% - 235px);
    display: flex;
    position: relative;

    input {
        opacity: 1;
        z-index: 100;
        padding: 0 66px 0 15px;
        margin: 0;

        &::placeholder {
            transition: all 0.3s;
            opacity: 1;
        }

        &:focus {
            opacity: 1;

            &::placeholder {
                transition: all 0.3s;
                opacity: 0;
            }
        }
    }

    .btn-menu_search {
        position: absolute;
        display: block;
        height: 46px;
        width: 50px;
        border: 0;
        top: 2px;
        right: 2px;
        z-index: 100;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFCC00;
        border-left: 2px solid #000000;
        transition: all 0.3s;

        &:hover {
            background: #FFCC00 + 50;
            transition: all 0.3s;
        }

        &:focus {
            transition: all 0.3s;
            outline: none;
        }
    }
}


.navbar-anhol.active {
    .contact {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar-anhol {

        .container-fluid {

            form {
                display: none;
            }

            .navbar-nav {
                margin: 0 auto 0 0;
            }

            .mobile {
                display: inline-block;
            }
        }

        .navbar-brand {
            width: 70px;

            img {
                width: 100%;
            }
        }

        .box-contact:nth-child(1) {
            border-top: 4px solid #ffffff;
        }

        .box-contact:last-of-type {
            border-bottom: 4px solid #ffffff;
        }

        .box-contact {
            border-left: 0;
        }
    }
}

//* ---- Main Setting stop ---- */

//* ---- pagination start ---- */
.pagination {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    li {
        min-width: 50px;
        min-height: 50px;
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        a {
            text-decoration: none;
            font-weight: bold;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    li:first-of-type {
        transform: rotate(180deg);
    }
}

//* ---- pagination stop ---- */





//####################################################################################################################
//####################################################################################################################
//################################################ NAV SETTING STOP ##################################################
//####################################################################################################################
//####################################################################################################################

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//####################################################################################################################
//####################################################################################################################
//############################################ CORE SYSTEM NAV START #################################################
//####################################################################################################################
//####################################################################################################################


//* ---- core nav ---- */
@import 'core/core';


//####################################################################################################################
//####################################################################################################################
//############################################ CORE SYSTEM NAV STOP ##################################################
//####################################################################################################################
//####################################################################################################################