//####################################################################################################################
//####################################################################################################################
//############################################ GRID SYSTEM CONFIG START ##############################################
//####################################################################################################################
//####################################################################################################################


//* ---- Set the number of columns you want to use on your layout. ---- */
$bootscript-grid-columns: 12 !default;

//* ---- Set the padding between grid. --- */
$bootscript-grid-padding: 15px !default;

//* ---- Create or remove breakpoints for your project & create max widtch container for columns. explanation variable  1 : NAME / 2 : @MEDIA RWD / 3 : MAX-WIDTH .CONTAINER
$bootscript-breakpoints: // EXTRA SMALL SCREEN / PHONE
xs 0 100%,
// SMALL SCREEN / PHONE
sm 576px 540px,
// Medium SCREEN / TABLET
md 768px 720px,
// LARGE SCREEN / DESCTOP
lg 992px 960px,
// EXTRA LARGE SCREEN / WIDE DESCTOP
xl 1200px 1140px !default;

//* ---- Create margin and padding classes . explattion variable  1 : NAME / 2 : VALUE ---- */
$bootscript-margon-pading-class: n 0.25rem 1,
t 0.25rem 1,
b 0.25rem 1,
r 0.25rem 1,
l 0.25rem 1,
x 0.25rem 1,
y 0.25rem 1,
n 0.5rem 2,
t 0.5rem 2,
b 0.5rem 2,
r 0.5rem 2,
l 0.5rem 2,
x 0.5rem 2,
y 0.5rem 2,
n 1rem 3,
t 1rem 3,
b 1rem 3,
r 1rem 3,
l 1rem 3,
x 1rem 3,
y 1rem 3,
n 1.5rem 4,
t 1.5rem 4,
b 1.5rem 4,
r 1.5rem 4,
l 1.5rem 4,
x 1.5rem 4,
y 1.5rem 4,
n 3rem 5,
t 3rem 5,
b 3rem 5,
r 3rem 5,
l 3rem 5,
x 3rem 5,
y 3rem 5 !default;


//* ---- Create border . explattion variable  1 : NAME / 2 : VALUE ---- */
$bootscript-border-class: default 0 0px,
top 0 0px,
bottom 0 0px,
left 0 0px,
right 0 0px,
default 1 1px,
top 1 1px,
bottom 1 1px,
left 1 1px,
right 1 1px,
default 2 2px,
top 2 2px,
bottom 2 2px,
left 2 2px,
right 2 2px,
default 3 3px,
top 3 3px,
bottom 3 3px,
left 3 3px,
right 3 3px !default;

//* ----  Create size % classes . explation variable  1 : VALUE ---- */
$bootscript-size-class: 100,
85,
75,
50,
25,
0 !default;


//####################################################################################################################
//####################################################################################################################
//############################################ GRID SYSTEM CONFIG STOP ###############################################
//####################################################################################################################
//####################################################################################################################

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//####################################################################################################################
//####################################################################################################################
//############################################ CORE SYSTEM GRID START ################################################
//####################################################################################################################
//####################################################################################################################


//* ---- core grid ---- */
@import 'core/core';


//####################################################################################################################
//####################################################################################################################
//############################################ CORE SYSTEM GRID STOP #################################################
//####################################################################################################################
//####################################################################################################################